@font-face {
  font-family: "Aclonica";
  src: url(../assets/fonts/Aclonica.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x-x: hidden!important;
  width: 100vw;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
}

header {
  background: #86A085;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header_top {
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: "Helvetica";
  color: white;
}

.header_bottom {
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar > * {
  transform: scale(1.5);
  color: #86A085;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85% 15%;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  background-color: #86A085;
}

main > div {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid white;
}

main > div .left {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.left i {
  color: white;
  transform: scale(1.5);
}

main > div .right {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
} 

input {
  border: none;
  padding: 10px 50px;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  color: white;
  font-weight: bold;
  overflow-x: hidden;
  transition: all .25s ease-in-out;
}

input::placeholder {
  color: rgba(255,255,255,.5);
  font-style: italic;
  overflow-x: hidden;
}

input:focus, input:active {
  font-size: 1.5rem;
  overflow-x: hidden;
  color: white;
}

.eye {
  color: white;
  transform: scale(1.2);
  transition: all .25s ease;
}

.fa-eye {
  opacity: .9;
}

.fa-eye-slash {
  opacity: .25;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #86A085;
}

input[type="submit"] {
  border: 1px solid white;
}

#return,
#off  {
  position: absolute;
  top: 20px;
  left: 20px;
}

a {
  color: rgba(255,255,255,.8);
}

#return i, #off i {
  font-size: 2rem;
}

#error{
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  color: white;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.5);
}

#off {
  left: 85%;
}